/NSIS_agent_setup/vc2008_redist_9.00.21022.8_for_Windows_2000/
External_Deps/x64_OCS_Make_Required_Libs.bat
/External_Deps/curl-*
/External_Deps/net-snmp-*
/External_Deps/openssl-*
/External_Deps/tinyxml/
/External_Deps/ZipArchive/
/External_Deps/zlib-*
OCSInventory.ncb
OCSInventory.suo
OCSInventory.opensdf
OCSInventory.sdf
OCSInventory.v12.suo
*.aps
*.lib
*.user
*.vcxproj
Service/MSG00001.bin
Service/NTServiceMsg.h
/NSIS_agent_setup/curl-*
NSIS_agent_setup/OCS-NG-Windows-Agent-Setup.exe
NSIS_agent_setup/OCS-NG-Windows-Agent-Setup.log
NSIS_agent_setup/SetACL.exe
ComHTTP/HTTP.APS

# Ignore results from MS Visual Studio builds.
logon/OcsLogon.exe
ComHTTP/HTTP.APS

# Ignore results from MS Visual Studio builds.
/ipch/
/debug/
/Release/
/Agent/Debug/
/Agent/Release/
/ComHTTP/Debug/
/ComHTTP/Release/
/Download/Debug/
/Download/Release/
/OCSInventory Front/Debug/
/OCSInventory Front/Release/
/OcsNotifyUser/Debug/
/OcsNotifyUser/Release/
/OCSPlugin_Example/Debug/
/OCSPlugin_Example/Release/
/OcsSystray/Debug/
/OcsSystray/Release/
/OcsWmi/Debug/
/OcsWmi/Release/
/OcsSnmp/Debug/
/OcsSnmp/Release/
/Service/Debug/
/Service/Release/
/SysInfo/Debug/
/SysInfo/Release/
/TestSysInfo/Debug/
/TestSysInfo/Release/
